body, html {
  height: 100%;
  overflow: hidden;
}
.bg-img {
  background-image: url('../img/ballpen-blur-cell-phone-796601.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fullscreen-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  padding-top: 45vh;
  text-align: center;
  background-color: rgba(0, 0, 0, .0);
}
.migrate-datepicker-mask {
  padding-top: 30vh;
  background-color: rgba(0, 0, 0, .3);
}
.datepicker-container {
  width: 240px;
  margin: 0 auto;
}
.datepicker-container-small {
  width: 219px;
  margin: 0 auto;
}
.header {
  height: 58px;
  text-align: center;
  background-color: rgba(255, 99, 71, 1);
}
.header>h3 {
  color: white;
}
.server-error {
  text-align: center;
  color: white;
}
.tomato-error {
  color: tomato;
}
.stop-propagation {
  width: max-content;
  margin: auto;
}
.app-name {
  border: 1px solid white;
  padding: 3px;
  margin: 9px 0 0 16px;
  float: left;
  font-weight: 300;
  text-decoration: underline;
}
.the-time {
  color: white;
  margin: 23px 16px 0 0;
  float: right;
}
.table {
  height: calc(100% - 84px);
  margin-bottom: 0 !important;
  overflow-y: hidden;
  overflow-x: auto;
}
.logs-wrapper {
  display: flex;
  margin: 0 auto;
  width: 1520px;
  padding: 12px 24px 0 24px;
}
.card {
  /* width: 322px; */
}
.card-body {
  padding: 10px 20px !important;
}
.card-title {
  margin-bottom: 2px !important;
}
.table-card {
  width: 352px;
  min-width: 352px;
  margin: 0 8px;
  padding: 16px 0;
  height: 100%;
  flex-grow: 1;
  float: left;
  background-color: rgba(0, 0, 0, .25);
}
.task-text {
  color: #5a5d61 !important;
  white-space: pre-line;
}
.status-line {
  border-left: 4px solid;
  margin-left: -10px;
  position: absolute;
  width: 1px;
  height: 40%;
  min-height: 20px;
  max-height: 60px;
}
.status-line-top {
  max-height: 20px;
}
.mark-1 {
  border-color: red;
}
.mark-2 {
  border-color: orange;
}
.mark-3 {
  border-color: #bbb;
}
.mark-4 {
  border-color: transparent;
}
.task-buttons-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.btn-group-width-100 {
  width: 100%;
}
.edit-task-btn {
  padding: 0 !important;
}
.edit-task-close-icon {
  float: right;
  padding: 6px;
  margin: -6px -6px 0 0;
  color: #607d8b;
  cursor: pointer;
}
.edit-task-close-icon:hover {
  color: tomato;
}
.basic {
  border: none !important;
  background-color: rgba(255, 255, 255, .9) !important;
}
.dropdown-left-50 {
  left: -50px !important;
}
.dropdown-left-100 {
  left: -98px !important;
}
.icon-red {
  color: red;
}
.icon-orange {
  color: orange;
}
.icon-grey {
  color: grey;
}
.icon-transparent {
  color: transparent;
}
.scroll-tasks {
  height: calc(100vh - 223px) !important;
}
.logs {
  width: 100%;
  display: flex;
  justify-content: center;
}
.future-log-title {
  background-color: #3949ab;
  color: white;
}
.monthly-log-title {
  background-color: #546e7a;
  color: white;
}
.weekly-log-title {
  background-color: #3F729B;
  color: white;
}
.daily-log-title {
  background-color: #757575;
  color: white;
}
.icon-exclamation {
  font-size: .75rem;
  color: #ffbb33;
}
.expired-tasks {
  font-size: .7rem;
  color: #ffbb33;
  display: contents;
  cursor: pointer;
}
.task-card:hover {
  cursor: pointer;
  background: rgba(250, 250, 250, .9);
}
.add-task-card {
  cursor: pointer;
  background: rgba(250, 250, 250, .8) !important;
}
.add-task-card:hover {
  background: white !important;
}
.footer {
  width: 100%;
  height: 29px;
  padding-top: 4px;
  border-top: 1px solid rgba(255, 255, 255, .7);
  color: white;
  text-align: center;
  font-size: .7rem;
}
.mt-5-px {
  margin-top: 5px !important;
}
.mb-2-px {
  margin-bottom: 2px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.line-through {
  text-decoration: line-through;
  color: #aaa !important;
}
.date-picker {
  cursor: pointer;
}
.date-picker:hover {
  color: rgba(255, 255, 255, .75);
}
.react-datepicker__day--selected {
  background-color: rgba(33,107,165, .75) !important;
}
.react-datepicker__month--selected {
  color: #fff !important;
  background-color: rgba(33,107,165, .75) !important;
}
.react-datepicker__day--highlighted {
  color: #fff !important;
  background-color: rgba(33,107,165, .75) !important;
}
.day--highlighted-custom-1,
.month-text--highlighted-custom-1 {
  color: #000;
  border-radius: 0.3rem;
  background: rgba(200, 10, 10, 0.15);
}
.day--highlighted-custom-2,
.month-text--highlighted-custom-2 {
  color: #000;
  border-radius: 0.3rem;
  background: rgba(10, 200, 10, 0.15);
}
